* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.image {
    width: 100vw;
    height: 100vh;
    background-image: url("./image/slide01.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 4000ms;
}
