@font-face {
    font-family: "1";
    src: url("./fonts/AdorableDoll.ttf");
}
@font-face {
    font-family: "2";
    src: url("./fonts/Saturdate\ Script\ Demo.ttf");
}
@font-face {
    font-family: "3";
    src: url("./fonts/Saturdate\ Serif.ttf");
}
@font-face {
    font-family: "4";
    src: url("./fonts/Awesome\ Free\ Font.ttf");
}
@font-face {
    font-family: "5";
    src: url("./fonts/Crumble\ Regular.ttf");
}
@font-face {
    font-family: "6";
    src: url("./fonts/Harlend\ Demo\ Version.ttf");
}
@font-face {
    font-family: "7";
    src: url("./fonts/Nordin\ Regular.ttf");
}
@font-face {
    font-family: "8";
    src: url("./fonts/Royalite\ Script.ttf");
}
@font-face {
    font-family: "9";
    src: url("./fonts/LINESeedJP_A_TTF_Bd.ttf");
}
@font-face {
    font-family: "10";
    src: url("./fonts/LINESeedJP_A_TTF_Eb.ttf");
}
@font-face {
    font-family: "11";
    src: url("./fonts/LINESeedJP_A_TTF_Rg.ttf");
}
@font-face {
    font-family: "12";
    src: url("./fonts/LINESeedJP_A_TTF_Th.ttf");
}